<html>
    <head>
        <title>MapMyRoute</title>
        <style>
            {%-STYLES-%}
        </style>
    </head>
    <body>
        <h2>{%-EVENT_NAME-%}</h2>
        <form name="new_event" action="./new.php" method="post">
            Latitude: <input type="text" name="latitude" /><br />
            Longitude: <input type="text" name="longitude" /><br />
            Name: <input type="text" name="name" /><br />
            <input type="submit" name="add" />
        </form>
        <script>
            {%-SCRIPT-%}
        </script>
    </body>

</html>
