body, html {
    font-family: Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}


#main-frame {
    margin: 0 auto;
}

#main-container {
    display: inline-block;
    border-radius: 12px;
    padding: 15px;
    margin: 10px;
    background-color: lightgray;
}

#title {
    text-align: center;
}

#main-form {
    display: inline-block;
    overflow: hidden;
    margin-top: 25px;
}
#main-form input {
    float: right;
}
#main-form input:last-child {
    float: right;
    clear: both;
}
#main-form .label {
    float: left;
}

#buttons {
    margin-top: 50px;
}

#map-container {
    border-radius: 12px;
    padding: 15px;
    margin: 10px;
    background-color: lightgray;
}


.center{
    margin: auto;
}

.separator {
    width: 100%;
    margin: 5px;
    border-top: 1px black;
}