{
  "last-update": "2019-06-18 13:33:00",
  "filename_template": "event_%s.json",
  "display_template": "dark",
  "current_event_name": "name of the event"
  "initial_zoom": 5,
  "stroke_color": "#FF0000",
  "stroke_opacity": 1.0,
  "stroke_weight": 2,
  "google_maps_api_key": "AAABBBCCC123",
  "on_events_file_not_found_create_new": true
}
