{
  "current_event_name": "Name of the event!",
  "display_template": "dark",

  "google_maps_api_key": "AAABBBCCC123",
  "initial_zoom": 5,
  "stroke_color": "#FF0000",
  "stroke_opacity": 1.0,
  "stroke_weight": 2,
  "visitors_origin": {
      "default": "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
      "qr": "http://maps.google.com/mapfiles/ms/icons/orange-dot.png",
      "social": "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
      "profile": "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
    },

  "filename_template": "event_%s.json",
  "on_events_file_not_found_create_new": true,
  "timezone_displacement": "+2",
  "events_path": "events",

  "logs_path": "logs"
}
